body {
    background: #F6F7F8;
}

.bg-dark {
    background: #091931;
    border-radius: 10px;
}

.bg-dark:hover {
    background: #091931 !important;
}

.main-section {
    padding-left: 15%;
    padding-left: 23%;
    padding-top: 200px;
    overflow-y: auto;

    h1 {
        margin-top: 0px;
    }
}

.format-sections {
    display: flex;
    justify-content: space-evenly;
}

.red {
    color: #FF8190;
}

.user {
    position: relative;
}

.dropdown {
    position: absolute;
    z-index: 20;
}

.h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px 0px 0px 0px;


}

.first-container {
    width: 30vw;
    height: 40vh;
    top: 327px;
    left: 328px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

textarea {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: black;
    padding-left: 5px;
    padding-top: 5px;
}

select {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: black;
    padding-left: 5px;
}

input {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: black;
    padding-left: 5px;
}

input::placeholder {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.first-container-formatted {
    display: flex;
    flex-direction: column;
}

.prio-button {
    transition: 0.3s ease;
    cursor: pointer;
}

.prio-button.clicked {
    box-shadow: none;
    cursor: default;
}

.part-1 {
    width: 100%;
    height: 96px;
    gap: 8px;
}

.input-style-1 {
    width: 100%;
    height: 48px;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #D1D1D1;
}

.input-style-2 {
    width: 100%;
    height: 120px;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #D1D1D1;
}

#successPopup {
    display: none;
    position: fixed;
    bottom: -50px;
    /* Start hidden below the screen */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #2a3647;
    color: white;
    border: 2px solid #2a3647;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease;
    /* Change duration to 1.5 seconds */
    font-family: Arial, sans-serif;
    /* Specify the font */
    font-size: 14px;
    /* Adjust the font size */
    z-index: 99;
}

label {
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
}

select:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

textarea:hover {
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
    background-color: #D1D1D1;
}

select {
    width: 100%;
    height: 48px;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #D1D1D1;
}

.line {
    background-color: #D1D1D1;
    width: 1px;
    height: 40vh;
    margin-left: 50px;
    margin-right: 50px;
}

.prio-buttons {
    width: fill;
    height: auto;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    background-size: cover;

    img {
        width: 136px;
        height: 56px;
        gap: 8px;
    }
}

.bottom-section {
    padding-left: 15%;
    width: 100vw;
    right: 0;
    display: flex;
    bottom: 0;
    justify-content: space-evenly;
    position: absolute;
    background: #F6F7F8;
    height: 106px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.clear {
    width: 110px;
    height: 56px;
    gap: 4px;
    border-radius: 10px 10px 10px 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F7F8;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2A3647;

    img {
        width: 10.49px;
        height: 10.49px;
    }
}

.clear:hover {
    width: 110px;
    height: 56px;
    gap: 4px;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #29ABE2;

    img {
        color: #29ABE2;
    }
}

.create {
    width: 183px;
    height: 56px;
    gap: 4px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;

    img {
        width: 15.49px;
        height: 11.22px;
    }

}

.create:hover {
    width: 183px;
    height: 56px;
    gap: 4px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #29ABE2;
    border: none;
}

.prio-buttons2 {
    
    img {
        width: 125px;
    }
}

@media(max-width: 1700px) {
    .prio-buttons2 {
    
        img {
            width: 100px;
        }
    }
}

@media(max-width: 1545px) {
    .prio-buttons2 {
    
        img {
            width: 30%;
            height: 40px;
        }
    }
}
@media(max-width: 1260px) {
    .prio-buttons2 {
    
        img {
            width: 30%;
            height: 50px;
        }
    }
    .line {
        display: none;
    }
    .first-container-popup {
        width: 30vw;
    }
}

@media(max-width: 1260px) {
    .prio-buttons2 {
    
        img {
            width: 32%;
            height: 40px;
        }
    }
}
::-webkit-calendar-picker-indicator{
    padding-right: 3%;
}