@media(max-width: 1260px) {
    .kanban-board {
        display: flex;
        flex-direction: column;
        width: 85%;
        gap: 50px;
    }

    .content {
        display: flex;
        overflow-x: scroll;
        width: 90vw;
    }

    .task {
        margin: 15px;
    }

    .content::-webkit-scrollbar {
        height: 8px;
        /* Height of the scrollbar */
    }

    .content::-webkit-scrollbar-thumb {
        background-color: #888;
        /* Color of the scrollbar thumb */
        border-radius: 4px;
        /* Rounded corners on the scrollbar thumb */
    }

    .content::-webkit-scrollbar-thumb:hover {
        background-color: #555;
        /* Color of the scrollbar thumb on hover */
    }
}

@media(max-width: 1030px) {
    .container {
        padding-left: 3%;
        padding-top: 145px;
        max-width: 1300px;
        padding-bottom: 25%;
    }

    .popup-content-task {
        width: 400px;

    }

    .task-header-pop-up {
        width: 40%;
        font-size: 1.5em;
    }

    h2 {
        font-size: 34px !important;
    }
}

@media(max-width: 850px) {
    .add-task-button {
        display: none;
    }

    .search-container {
        display: none;
    }

    .search-container-responsive {
        display: flex;
        width: 80%;
        margin-top: 20px;
    }

    .header-board {
        width: 82%;
    }

    .add-task-responsive {
        display: block;
    }

    .add-task-responsive:hover {
        content: url('/assets/img/add_task_mobile_hover.png');
        cursor: pointer;
    }
}

@media(max-width: 769px) {
    #popup {
        display: none;
    }

    #overlay {
        position: relative;
    }

    .first-container {
        width: 400px !important;
    }

    .form-content {
        padding: 8px;
    }
}

@media(max-height: 750px) {
    .popup-content-task {
        height: 80%;
    }
}