.login-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 48px;
    gap: 35px;
    margin-top: 32px;
}

.button-login {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 113px;
    height: 48px;
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    gap: 10px;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
}

.button-login:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.button-guest {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 180px;
    height: 48px;
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    gap: 10px;
    background: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.button-guest:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 15px 21px 15px 21px;
    border: 2px solid #29ABE2;
    color: #29ABE2;
}

.responsive-header {
    display: none;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.policy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.privacy-policy,
.legal-notice {
    cursor: pointer;
}

.legal-notice:hover,
.privacy-policy:hover {
    color: #29ABE2;
    font-weight: 700;
}

.input-error {
    outline: 2px solid red;
}

@media (max-width: 1000px) {

    .header {
        display: none;
    }

    .responsive-header {
        display: flex;
        flex-direction: row;
    }

    .register-section {
        width: 279px;
        /* height: 49px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    @keyframes logo-animation {
        from {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100px;
            height: 122px;
        }

        to {
            top: 20px;
            left: 20px;
            transform: none;
            width: 60px;
            height: 60px;
        }
    }

}


@media (max-width: 620px) {
    .login-section-div {
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 25px;
        padding-bottom: 0px;

    }

    .message-box {
        height: 5px;
        margin: 8px;
    }

    .input {
        width: 150%;
    }

    .login-section {
        width: 90vw;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 400px;
    }

    .logo-start-screen-white {
        display: none;
    }

    @keyframes logo-animation {
        from {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100.03px;
            height: 121.97px;
            position: fixed;
        }

        to {
            top: 12px;
            left: 12px;
            transform: none;
            width: 50px;
            height: 50px;

            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
        }
    }

    .start-sceen {
        background-color: #2a3647;
    }

    .header-login {
        font-size: 47px;
        line-height: 56px;
    }

    .border-login {
        width: 90px;
        height: 3px;
    }

    .input-fields {
        width: 100%;
        height: 152px;
        gap: 16px;
        margin-top: 32px;
    }

    .remember-me {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header-section {
        gap: 0px;
    }

    .login-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 180px;
        gap: 21px;
        margin-top: 32px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .button-login {
        width: 180px;
        height: 51px;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .button-guest {
        width: 180px;
        height: 51px;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .button-signup {
        width: 208px;
    }

    .policy {
        width: 279px;
        height: 35px;
        margin-top: 0px;
        gap: 24px;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .login-buttons {
        height: 60px;
        width: 100px;
    }
}

@media (max-width: 380px) {

    .input-fields {
        width: 100%;
        height: 152px;
        gap: 16px;
        margin-top: 32px;
    }

    .button-login {
        width: 180px;
        height: 51px;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
        line-height: 19.2px;
    }

}