:root {
  --maincolor: #2a3647;
  --secondarycolor: #29abe2;
}

body {
  background-color: #f6f7f8;
  margin: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

main {
  padding-left: 328px;
  padding-top: 10%;
  height: 100%;
}

a {
  text-decoration: none;
}

main h1 {
  font-size: 61px;
  font-weight: 700;
}

main h2 {
  font-size: 27px;
  font-weight: 400;
}

.no-display {
  display: none !important;
}

.information-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1014px;
}

.information-header img {
  padding: 1px;
}

.information-header img:hover {
  background-color: #D1D1D1;
  border-radius: 45px;
  height: 26px;
  width: 26px;
  padding: 4px;
}

.information-text {
  max-width: 100%;
  margin-bottom: 50px;
  padding-bottom: 80px;
}

p {
  line-height: 24px;
}

h3 {
  font-size: 27px;
  font-weight: 700;
  line-height: 32.4px;
  padding-bottom: 8px;
  padding-top: 16px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 19.2px;
  padding-top: 16px;
  padding-bottom: 8px;
}

li {
  margin-left: 24px;
  line-height: 24px;
}

.go-back {
  max-width: 1440px;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
  position: fixed;
  top: 200px;
  z-index: 100;
}

.go-back img {
  cursor: pointer;
  margin-right: 50px;
}

@media (max-width: 1060px) {
  main {
    padding-left: 2%px;
    padding-top: 4%;
    padding: 85px 32px;
  }
}

@media (max-width: 940px) {


  main h1 {
    font-size: 47px !important;
  }

  main h2 {
    font-size: 20px !important;
  }
}

@media (max-width: 440px) {
  main {
    padding: 15% 6px !important;
  }
}