body {
    margin: 0px;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #f6f7f8;
}

.bg-dark {
    background: #091931;
    border-radius: 10px;
}

.bg-dark:hover {
    background: #091931 !important;
}

.block {
    display: block;
}

.gap-100 {
    gap: 100px;
}

.gap-30 {
    gap: 30px;
}

.gap-25 {
    gap: 25px;
}

.flex {
    display: flex;
    align-items: center;
}

.span-top {
    font-size: 72px;
    font-weight: 500;
}

.span-top-2 {
    font-size: 20px;
}

.span-middle-right-top {
    font-size: 28px;
    font-weight: 600;
}

.span-middle-right-bottom {
    font-size: 20px;
}


.column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
    display: flex;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-left: 23%;
    margin-top: 120px;
}

.section {
    max-width: 1000px;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
    width: 100%;
    padding-top: 200px;
}

.h1-header {
    font-size: 61px;
    margin: 0px;
}

.parting-line {
    height: 59px;
    border: 3px;
}

.span-headline {
    font-size: 27px;
}

.to-do-and-done {
    display: flex;
    gap: 30px;
    width: 100%;
}

.bordering-top-1 {
    width: 100%;
    height: 15vh;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.bordering-top-1:hover {
    transform: scale(1.05);
    background-color: #2a3647;
    cursor: pointer;
}

.bordering-top-1:hover .img-size {
    content: url('../assets/img/pencil_hover.png');
}

.bordering-top-1:hover span {
    color: white;
}

.bordering-top-2 {
    width: 100%;
    height: 15vh;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.bordering-top-2:hover {
    transform: scale(1.05);
    background-color: #2a3647;
    cursor: pointer;
}

.bordering-top-2:hover .img-size {
    content: url('../assets/img/done_hover.png');
}

.bordering-top-2:hover span {
    color: white;
}

.img-size {
    width: 69px;
    height: 69px;
    transition: content 0.3s;
}

.bordering-middle {
    width: 95%;
    height: 15vh;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    margin: 19px;
}

.bordering-middle:hover {
    transform: scale(1.05);
    background-color: #2a3647;
    cursor: pointer;
}

.bordering-middle:hover span {
    color: white;
}

.bordering-bottom {
    width: 100%;
    height: 15vh;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.bordering-bottom:hover {
    transform: scale(1.05);
    background-color: #2a3647;
    cursor: pointer;
}

.bordering-bottom:hover span {
    color: white;
}

.img-size {
    width: 69px;
    height: 69px;
}

.p-greeting {
    width: 20vw;
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
    margin: 0;
}

.p-greeting-name {
    color: #29abe2;
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    margin: 0;
}

.todo-number {
    width: 31px;
    height: 77px;
    gap: 0px;
    opacity: 0px;
}

.greeting {
    align-items: start;
    display: flex;
    flex-direction: column;
}

.middle-section {
    align-items: center;
    display: flex;
    gap: 100px;
}

.none {
    display: none;
}

.bordering-middle-left-part {
    align-items: center;
    display: flex;
    gap: 30px;
}

.middle-right-div {
    display: flex;
    flex-direction: column;
    width: 27%;
    gap: 25px;
    align-items: center;
}