@media(max-width: 1300px) {
    .greeting {
        display: none;
    }
}


@media(max-width: 1170px) {
    .greeting {
        display: none;
    }

    .bordering-middle {
        width: 90%;
    }

    .section {
        padding-right: 50px;
    }
}

@media(max-width: 770px) {
    .main-container {
        padding-left: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .middle-section {
        width: 90%;
    }

    .bordering-middle {
        width: 90%;
    }

    .main-container {
        width: 100%;
    }

    .section {
        padding-right: 0px;
    }

    body {
        height: 87vh !important;
    }

    .header {
        justify-content: center;
    }

    .h1-header {
        display: flex;
        justify-content: center;
        font-size: 60px;
        background-color: #F6F7F8;
        width: 40%;
        left: 0;
    }

    .span-headline {
        font-size: 20px;
    }
}

@media(max-width: 591px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 28px;
        width: 68%;
    }

    .none {
        display: block;
    }

    .parting-line,
    .span-headline {
        display: none;
    }

    .h1-header {
        margin: 0;
        height: 45px;
        width: 100%;
    }

    .main-container {
        align-items: normal;
    }

    .middle-section {
        padding-top: 50px;
        width: 98%;
    }

    .to-do-and-done {
        gap: 0px;
    }

    .span-top-2 {
        font-size: 17px;
    }
}

@media(max-width: 1060px) {
    .header {
        margin-top: 80px !important;
        padding-top: 0px;
    }
}

@media(max-width: 500px) {
    .bordering-middle-left-part {
        gap: 10px;
    }

    .span-middle-right-top {
        font-size: 25px;
    }

    .img-size {
        width: 50px;
        height: 50px;
    }

    .bordering-top-1 {
        margin: 10px
    }

    .bordering-top-2 {
        margin: 10px
    }

    .bordering-middle {
        margin: 10px;
    }

    .bordering-bottom {
        margin: 10px;
    }
}

@media(max-width: 435px) {
    .img-size {
        width: 50px;
        height: 50px;
    }

    .to-do-and-done {
        gap: 0px;
    }

    .bordering-top-1 {
        margin: 5px;
    }

    .bordering-top-2 {
        margin: 5px;
    }

    .bordering-middle {
        margin: 10px;
    }

    .span-middle-right-top {
        font-size: 20px;
    }

    .span-top {
        font-size: 60px;
    }

    .bordering-middle-left-part {
        gap: 5px;
    }
}

@media(max-width: 400px) {
    .bordering-bottom {
        padding: 10px;
        margin: 5px;
    }

    .bordering-middle {
        margin: 0px;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 8px;
    }
}

/* HEIGHT */

@media(max-height: 1196px) {
    .header {
        margin: 0px;
    }

    .main-container {
        margin-top: 0px;
    }
}

@media(max-height: 1085px) {
    .middle-section {
        padding-top: 0px;
    }
}

@media(max-height: 1035px) {
    .main-container {
        display: flex;
        justify-content: center;
    }
}

@media(max-height: 815px) {
    .section {
        gap: 27px;
    }

    .bordering-middle {
        height: 15vh;
    }

    .bordering-top-1 {
        height: 15vh;
    }

    .bordering-top-2 {
        height: 15vh;
    }

    .bordering-bottom {
        height: 15vh;
    }
}

@media(max-height: 700px) {
    .section {
        gap: 20px;
    }
}